.App {
  text-align: center;
  border: 1px solid lightblue;
}

.pinkText {
  color: palevioletred;
}

.yellowText {
  color: yellow;
}

.greenText {
  color: green;
}

.lightblueText {
  color: lightskyblue;
}

.orangeText {
  color: orange;
}

.App-mid {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header{
  display: flex;
  flex-direction: row;
  max-height: 8vh;
  background-color: #282c34;
}

.btnHeader{
  border: 2px;
  border-style: solid;
  border-radius: 12px;
  margin: 3px;
  flex-grow: 1;
  text-align: center;
  font-size: large;
  cursor: pointer;
  color: white;
  background-color: #c46c08;
}
.btnHeader:hover{
  background-color: aliceblue;
  color: #c46c08;
}

.btnMoviesToColors {
  color: #ffffff;
  background-color: #c46c08;
  font-size: 19px;
  border: 2px solid #ffffff;
  border-radius: 0px 50px 50px 0px;
  padding: 15px 50px;
  cursor: pointer
}

.btnMoviesToColors:hover {
  color: #ffffff;
  background-color: #282c34;
  border: 2px solid #c46c08;
}

.btnColorsToMovies {
  color: #ffffff;
  background-color: #c46c08;
  font-size: 19px;
  border: 2px solid #ffffff;
  border-radius: 50px 0px 0px 50px;
  padding: 15px 50px;
  cursor: pointer
}

.btnColorsToMovies:hover {
  color: #ffffff;
  background-color: #282c34;
  border: 2px solid #c46c08;
}

.myButton {
  color: #ffffff;
  background-color: #c46c08;
  font-size: 19px;
  border: 2px solid #c46c08;
  border-radius: 11px;
  padding: 15px 50px;
  cursor: pointer
}
.myButton:hover {
  color: #c46c08;
  background-color: #282c34;
}

.movie-title {
  border: 1px solid black;
}

.counterFather{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightblue;
}
.movie-counter{
  border: 1px solid lightblue;
  flex: 1;
}